Repository ksugawara61/expo-template: changes, and which lefthook commands are due for each by the changed paths.
All: mobile-fmt, graphql-fmt

mobile-fmt:
  run: cd mobile && pnpm biome check --no-errors-on-unmatched --files-ignore-unknown=true --write --staged && pnpm eslint --fix {staged_files}

graphql-fmt:
  run: cd graphql && pnpm biome check --no-errors-on-unmatched --files-ignore-unknown=true --write --staged

fix: package.jsonにpackageManagerを追加してGitHub Actionsのpnpmエラーを修正
  package.json
Due: none

fix: pnpm action-setupでpackage_json_fileをversionパラメータに変更してpnpmエラーを修正
  .github/workflows/lint.yaml
Due: none

Revert "fix: pnpm action-setupでpackage_json_fileをversionパラメータに変更してpnpmエラーを修正"
  .github/workflows/lint.yaml
Due: none

fix workflow
  .github/workflows/schema_sync_check.yaml
Due: none

fix
  .github/workflows/schema_sync_check.yaml
Due: none

fix: fmt
  biome.json
  package.json
  pnpm-lock.yaml
Due: none

fix sync workflow
  .github/workflows/schema_sync_check.yaml
  .node-version
  package.json
Due: none

fix: schma:check
  .github/workflows/schema_sync_check.yaml
  lefthook.yml
  mobile/src/features/BookmarkAddEdit/index.msw.ts
  mobile/src/features/BookmarkAddEdit/index.tsx
  mobile/src/libs/gql/gql.ts
  mobile/src/libs/gql/graphql.ts
  package.json
Due: mobile-fmt

feat: biomeの設定をプロジェクトルートに移動 (#129)
  .github/workflows/lint.yaml
  .github/workflows/mobile_lint.yaml
  .github/workflows/schema_sync_check.yaml
  .node-version
  biome.json
  graphql/.vscode/settings.json
  graphql/biome.json
  graphql/package.json
  graphql/pnpm-lock.yaml
  graphql/pylon.d.ts
  lefthook.yml
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/src/features/BookmarkAddEdit/index.msw.ts
  mobile/src/features/BookmarkAddEdit/index.tsx
  mobile/src/libs/gql/gql.ts
  mobile/src/libs/gql/graphql.ts
  package.json
  pnpm-lock.yaml
Due: mobile-fmt, graphql-fmt

feat: 作業ディレクトリをルートに移動
  .claude/commands/fix-issue.md
  .claude/commands/fix-pr-comment.md
  .claude/commands/update-pr.md
  .vscode/settings.json
  CLAUDE.md
  graphql/.vscode/settings.json
  mobile/.claude/commands/fix-issue.md
  mobile/.claude/commands/fix-pr-comment.md
  mobile/.claude/commands/update-pr.md
  mobile/.vscode/extensions.json
  mobile/CLAUDE.md
Due: mobile-fmt, graphql-fmt

fix: eslint 設定が効くように調整
  .vscode/extensions.json
  .vscode/settings.json
  CLAUDE.md
  mobile/eslint.config.mjs
  mobile/src/features/Bookmarks/index.msw.ts
  mobile/src/features/Bookmarks/index.tsx
  mobile/src/libs/gql/gql.ts
  mobile/src/libs/gql/graphql.ts
Due: mobile-fmt

feat: 作業ディレクトリをルートに移動 (#132)
  .claude/commands/fix-issue.md
  .claude/commands/fix-pr-comment.md
  .claude/commands/update-pr.md
  .vscode/extensions.json
  .vscode/settings.json
  CLAUDE.md
  graphql/.vscode/settings.json
  mobile/.claude/commands/fix-issue.md
  mobile/.claude/commands/fix-pr-comment.md
  mobile/.claude/commands/update-pr.md
  mobile/CLAUDE.md
  mobile/eslint.config.mjs
  mobile/src/features/Bookmarks/index.msw.ts
  mobile/src/features/Bookmarks/index.tsx
  mobile/src/libs/gql/gql.ts
  mobile/src/libs/gql/graphql.ts
Due: mobile-fmt, graphql-fmt

feat: pnpm workspace settings
  graphql/package.json
  graphql/src/generated/gqty/schema.generated.ts
  mobile/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: graphql-fmt

feat: dependabot settings
  .github/dependabot.yaml
Due: none

pnpm workspace settings (#133)
  .github/dependabot.yaml
  graphql/package.json
  graphql/src/generated/gqty/schema.generated.ts
  mobile/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: graphql-fmt

feat: mobileアプリを多言語対応（i18next導入）
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/src/features/Articles/index.tsx
  mobile/src/features/Articles/locales/en.ts
  mobile/src/features/Articles/locales/index.ts
  mobile/src/features/Articles/locales/ja.ts
  mobile/src/features/BookmarkAddEdit/index.tsx
  mobile/src/features/BookmarkAddEdit/locales/en.ts
  mobile/src/features/BookmarkAddEdit/locales/index.ts
  mobile/src/features/BookmarkAddEdit/locales/ja.ts
  mobile/src/libs/AppProvider.tsx
  mobile/src/libs/i18n/index.ts
  mobile/src/libs/i18n/resources.ts
  mobile/src/libs/i18n/types.ts
Due: mobile-fmt

fix: テストでのact関数利用方法を修正
  mobile/src/features/Articles/index.test.tsx
  mobile/src/libs/test/TestProvider.tsx
  mobile/src/libs/test/testing-library.tsx
Due: mobile-fmt

fix: テストコードのリントエラーを修正
  mobile/src/features/Articles/index.test.tsx
  mobile/src/features/Bookmarks/index.test.tsx
Due: mobile-fmt

fix: enから型をインポートしてjaの型安全性を向上
  mobile/src/features/Articles/locales/ja.ts
  mobile/src/features/BookmarkAddEdit/locales/ja.ts
Due: mobile-fmt

fix: テストのスキップを解消してMSWの問題を修正
  mobile/jest.config.js
  mobile/jest.env.js
  mobile/jest.setup.ts
  mobile/src/features/Articles/index.stories.tsx
  mobile/src/features/Articles/index.test.tsx
  mobile/src/features/Bookmarks/index.stories.tsx
  mobile/src/features/Bookmarks/index.test.tsx
  mobile/src/libs/test/TestProvider.tsx
Due: mobile-fmt

feat: bookmarkのCRUD処理をZodとRHFに置き換える
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/src/features/BookmarkAddEdit/index.tsx
  mobile/src/features/Bookmarks/types.ts
Due: mobile-fmt

feat: bookmarkのCRUD処理をZodとRHFに置き換える (#145)
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/src/features/BookmarkAddEdit/index.tsx
  mobile/src/features/Bookmarks/types.ts
Due: mobile-fmt

feat: OSSライセンスの生成処理とライセンス画面を追加
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/license.tsx
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/scripts/generate-licenses.js
  mobile/src/data/licenses.json
  mobile/src/features/License/index.stories.tsx
  mobile/src/features/License/index.test.tsx
  mobile/src/features/License/index.tsx
  mobile/src/features/License/types.ts
Due: mobile-fmt

fix: license-checkerをpnpm licensesに置き換え
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/scripts/generate-licenses.js
  mobile/src/data/licenses.json
Due: mobile-fmt

fix: scriptsディレクトリにbiome lintを適用
  mobile/src/data/licenses.json
Due: mobile-fmt

fix: license画面のスタイル調整
  biome.json
  mobile/package.json
  mobile/scripts/generate-licenses.mjs
  mobile/src/features/License/index.stories.tsx
  mobile/src/features/License/index.tsx
  mobile/src/features/License/licenses.json
  mobile/src/features/License/types.ts
Due: mobile-fmt

update: test
  mobile/src/features/License/index.test.tsx
Due: mobile-fmt

fix vrt
  .github/workflows/mobile_vrt_approve.yaml
Due: none

VRT Approve
  mobile/vrt/public/report/expected/Features_License_Default.png
Due: none

fix lint
  mobile/scripts/generate-licenses.mjs
  mobile/src/features/License/licenses.json
Due: mobile-fmt

feat: OSSライセンスの生成処理とライセンス画面を追加 (#146)
  .github/workflows/mobile_vrt_approve.yaml
  biome.json
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/license.tsx
  mobile/package.json
  mobile/scripts/generate-licenses.mjs
  mobile/src/features/License/index.stories.tsx
  mobile/src/features/License/index.test.tsx
  mobile/src/features/License/index.tsx
  mobile/src/features/License/licenses.json
  mobile/src/features/License/types.ts
  mobile/vrt/public/report/expected/Features_License_Default.png
Due: mobile-fmt

feat: OSSライセンスの生成処理とライセンス画面を追加 (#146)
  .github/workflows/ci.yml
  .github/workflows/mobile_vrt_approve.yaml
  .turbo/cache/4a980cca97e959fb-meta.json
  .turbo/cache/4a980cca97e959fb.tar.zst
  .turbo/cache/9a4f3199928fdc42-meta.json
  .turbo/cache/9a4f3199928fdc42.tar.zst
  .turbo/cache/ef3420fdcd9639bf-meta.json
  .turbo/cache/ef3420fdcd9639bf.tar.zst
  .turbo/cache/f215317507bfb1f1-meta.json
  .turbo/cache/f215317507bfb1f1.tar.zst
  biome.json
  graphql/.turbo/turbo-build.log
  graphql/.turbo/turbo-test.log
  graphql/.turbo/turbo-typecheck.log
  lefthook.yml
  mobile/.turbo/turbo-lint.log
  mobile/.turbo/turbo-test.log
  mobile/.turbo/turbo-typecheck.log
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/license.tsx
  mobile/package.json
  mobile/scripts/generate-licenses.mjs
  mobile/src/features/License/index.stories.tsx
  mobile/src/features/License/index.test.tsx
  mobile/src/features/License/index.tsx
  mobile/src/features/License/licenses.json
  mobile/src/features/License/types.ts
  mobile/vrt/public/report/expected/Features_License_Default.png
  package.json
  pnpm-lock.yaml
  turbo.json
Due: mobile-fmt

fix
  .gitignore
Due: none

feat: turborepoを導入してCIを共通化
  .github/workflows/ci.yaml
  .github/workflows/graphql_test.yaml
  .github/workflows/graphql_typecheck.yaml
  .github/workflows/mobile_test.yaml
  .github/workflows/vrt.yaml
  graphql/package.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  turbo.json
Due: none

fix: turbo command の整理
  graphql/package.json
  mobile/package.json
  package.json
  turbo.json
Due: none

fix: lefthook command
  graphql/package.json
  lefthook.yml
  mobile/package.json
  package.json
  turbo.json
Due: none

ci を整理
  .github/workflows/test.yaml
  .github/workflows/typecheck.yaml
  .github/workflows/vrt.yaml
Due: none

typecheck で build が必要だったので調整
  .github/workflows/typecheck.yaml
  turbo.json
Due: none

fix: codegen:check command
  .github/workflows/codegen_check.yaml
  mobile/codegen.ts
  mobile/package.json
  package.json
  turbo.json
Due: none

feat: turborepoを導入してCIを共通化 (#149)
  .github/workflows/codegen_check.yaml
  .github/workflows/lint.yaml
  .github/workflows/mobile_test.yaml
  .github/workflows/schema_sync_check.yaml
  .github/workflows/test.yaml
  .github/workflows/typecheck.yaml
  .github/workflows/vrt.yaml
  graphql/package.json
  lefthook.yml
  mobile/codegen.ts
  mobile/package.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: none

Path conditions:
  mobile-fmt: any of: mobile/**/*.{js,ts,jsx,tsx,json}
  graphql-fmt: any of: graphql/**/*.{js,ts,jsx,tsx,json}
