Repository ksugawara61/expo-template: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fmt, mobile-eslint-fmt

lefthook.yml:

pre-push:
  parallel: true
  commands:
    check-staged-files:
      run: |
        if git diff --cached --exit-code > /dev/null; then
          echo "✅ No staged files found. Push is allowed."
        else
          echo "❌ Error: There are staged files that haven't been committed."
          echo "This usually happens when pre-commit hooks format files but the changes aren't committed."
          echo ""
          echo "Staged files:"
          git diff --cached --name-only
          echo ""
          echo "Please commit these changes before pushing:"
          echo "  git add ."
          echo "  git commit --amend --no-edit"
          echo "  # or create a new commit"
          exit 1
        fi
    tests:
      run: pnpm turbo test --filter="...[HEAD~1]"

pre-commit:
  parallel: true
  commands:
    biome-fmt:
      glob: "**/*.{js,ts,jsx,tsx,json}"
      run: pnpm biome check --no-errors-on-unmatched --files-ignore-unknown=true --write --staged
    mobile-eslint-fmt:
      glob: "mobile/**/*.{js,ts,jsx,tsx}"
      run: cd mobile && echo "{staged_files}" | sed 's|mobile/||g' | xargs pnpm eslint --fix

feat: Apollo ClientからurqlにGraphQLクライアントを移行
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/src/features/Articles/index.tsx
  mobile/src/features/BookmarkAddEdit/index.tsx
  mobile/src/features/Bookmarks/index.tsx
  mobile/src/libs/AppProvider.tsx
  mobile/src/libs/graphql/AppUrqlProvider.tsx
  mobile/src/libs/test/TestProvider.tsx
Due: biome-fmt, mobile-eslint-fmt

fix: urqlクライアントでSuspenseサポートを実装
  mobile/src/features/Articles/index.tsx
  mobile/src/libs/graphql/AppUrqlProvider.tsx
  mobile/src/libs/test/TestProvider.tsx
Due: biome-fmt, mobile-eslint-fmt

feat: libs/urql.tsにSuspense対応のラッパーフックを追加
  mobile/src/features/Articles/index.tsx
  mobile/src/libs/urql.ts
Due: biome-fmt, mobile-eslint-fmt

fix: urqlラッパーの型推論を改善してTypeScriptエラーを解決
  mobile/src/libs/urql.ts
Due: biome-fmt, mobile-eslint-fmt

feat: react-error-boundaryを使用したエラーハンドリングを追加
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/src/components/error-boundary/ErrorFallback.tsx
  mobile/src/libs/AppProvider.tsx
Due: biome-fmt, mobile-eslint-fmt

feat: react-error-boundaryを使用したエラーハンドリングを追加 (#153)
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/src/components/error-boundary/ErrorFallback.tsx
  mobile/src/libs/AppProvider.tsx
Due: biome-fmt, mobile-eslint-fmt

feat: reactをdependabot対象外に追加
  .github/dependabot.yaml
Due: none

feat: reactをdependabot対象外に追加 (#155)
  .github/dependabot.yaml
Due: none

feat: ESLint設定をpackagesに分離して内製ライブラリとして参照
  graphql/eslint.config.mjs
  graphql/package.json
  graphql/pnpm-lock.yaml
Due: biome-fmt

fix: packages配下のファイルコミット漏れを修正とlintエラーを解消
  graphql/eslint.config.mjs
  mobile/eslint.config.mjs
  mobile/package.json
  mobile/pnpm-lock.yaml
  packages/eslint-config/graphql.js
  packages/eslint-config/index.js
  packages/eslint-config/mobile.js
  packages/eslint-config/package.json
  packages/eslint-config/pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome-fmt

fix: graphqlパッケージにeslint依存関係を追加
  graphql/package.json
  graphql/pnpm-lock.yaml
Due: biome-fmt

feat: eslint command
  biome.json
  graphql/package.json
  graphql/pnpm-lock.yaml
  mobile/package.json
  mobile/pnpm-lock.yaml
  packages/eslint-config/graphql.js
  packages/eslint-config/index.js
  packages/eslint-config/mobile.js
  packages/eslint-config/package.json
  packages/eslint-config/pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome-fmt

feat: vscode eslint setting
  .vscode/settings.json
Due: biome-fmt

feat: ESLint設定をpackagesに分離して内製ライブラリとして参照 (#160)
  .vscode/settings.json
  biome.json
  graphql/eslint.config.mjs
  graphql/package.json
  graphql/pnpm-lock.yaml
  mobile/package.json
  mobile/pnpm-lock.yaml
  packages/eslint-config/graphql.js
  packages/eslint-config/index.js
  packages/eslint-config/mobile.js
  packages/eslint-config/package.json
  packages/eslint-config/pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome-fmt

fix lefthook
  lefthook.yml
Due: none

feat: dependabotのnpm設定をルートディレクトリに統合
  .github/dependabot.yaml
Due: none

feat: dependabotのnpm設定をルートディレクトリに統合 (#164)
  .github/dependabot.yaml
Due: none

feat: textlintをルートディレクトリに移動
  .textlintrc.json
  mobile/package.json
  package.json
  pnpm-lock.yaml
Due: biome-fmt

fix: textlintコマンドをlint:textに分離
  package.json
Due: none

fix: mobileディレクトリ配下の依存関係を更新
  mobile/pnpm-lock.yaml
Due: none

fix: .textlintrc.jsonのlintエラーを修正
  .textlintrc.json
Due: none

fix: biomeで.textlintrc.jsonをフォーマット
  .textlintrc.json
Due: none

textlintをルートディレクトリに移動 (#170)
  .textlintrc.json
  mobile/package.json
  mobile/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: biome-fmt

Revert "feat: dependabotのnpm設定をルートディレクトリに統合 (#164)"
  .github/dependabot.yaml
Due: none

Revert "feat: dependabotのnpm設定をルートディレクトリに統合 (#164)" (#171)
  .github/dependabot.yaml
Due: none

feat: rootのdependabotをroot packageのみに制限
  .github/dependabot.yaml
Due: none

feat: rootのdependabotをroot packageのみに制限 (#174)
  .github/dependabot.yaml
Due: none

feat: ライセンス画面のテストコードを充実させる
  docs/guidelines/test.md
  mobile/src/features/License/index.test.tsx
  mobile/src/libs/test/testing-library.tsx
Due: biome-fmt, mobile-eslint-fmt

fix: 検索機能のテストを改善して数値の変化と特定パッケージの表示を確認
  mobile/src/features/License/index.test.tsx
Due: biome-fmt, mobile-eslint-fmt

fix: parseIntにradixパラメータを追加してlintエラーを解消
  mobile/src/features/License/index.test.tsx
Due: biome-fmt, mobile-eslint-fmt

fix: improve License component test stability and robustness
  mobile/src/features/License/index.test.tsx
  mobile/src/libs/test/testing-library.tsx
Due: biome-fmt, mobile-eslint-fmt

update node-version
  mobile/.node-version
Due: none

feat: Apollo ClientからGraffle+SWRに移行
  mobile/app/modal.tsx
  mobile/jest.config.js
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/src/features/Articles/index.tsx
  mobile/src/features/BookmarkAddEdit/index.tsx
  mobile/src/features/Bookmarks/index.tsx
  mobile/src/libs/AppProvider.tsx
  mobile/src/libs/graphql/AppApolloProvider.tsx
  mobile/src/libs/graphql/graffleClient.ts
  mobile/src/libs/test/TestProvider.tsx
Due: biome-fmt, mobile-eslint-fmt

feat: Apollo ClientからSWRに移行
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/src/features/Articles/index.tsx
  mobile/src/features/BookmarkAddEdit/index.tsx
  mobile/src/features/Bookmarks/index.tsx
  mobile/src/libs/AppProvider.tsx
  mobile/src/libs/graphql/AppApolloProvider.tsx
  mobile/src/libs/graphql/fetcher.ts
  mobile/src/libs/test/TestProvider.tsx
Due: biome-fmt, mobile-eslint-fmt

fix: GraphQLクエリを正しくシリアライズするようにprint関数を使用
  mobile/src/libs/graphql/fetcher.ts
Due: biome-fmt, mobile-eslint-fmt

feat: GraphQL fetcherにタイムアウトとリトライ機能を追加
  mobile/src/libs/graphql/fetcher.ts
Due: biome-fmt, mobile-eslint-fmt

refactor: SWR設定でタイムアウトとリトライを管理するように変更
  mobile/src/libs/AppProvider.tsx
  mobile/src/libs/graphql/fetcher.ts
Due: biome-fmt, mobile-eslint-fmt

fix: 未使用パラメータのlintエラーを修正
  mobile/src/libs/AppProvider.tsx
Due: biome-fmt, mobile-eslint-fmt

Apollo ClientからSWRに移行 (#194)
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/src/features/Articles/index.tsx
  mobile/src/features/BookmarkAddEdit/index.tsx
  mobile/src/features/Bookmarks/index.tsx
  mobile/src/libs/AppProvider.tsx
  mobile/src/libs/graphql/AppApolloProvider.tsx
  mobile/src/libs/graphql/fetcher.ts
  mobile/src/libs/test/TestProvider.tsx
Due: biome-fmt, mobile-eslint-fmt

feat: migrate from SWR to TanStack Query for data fetching
  docs/urql-cache.md
  mobile/codegen.ts
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/src/features/Articles/index.generated.ts
  mobile/src/features/Articles/index.tsx
  mobile/src/features/BookmarkAddEdit/index.generated.ts
  mobile/src/features/BookmarkAddEdit/index.tsx
  mobile/src/features/Bookmarks/index.generated.ts
  mobile/src/features/Bookmarks/index.tsx
  mobile/src/libs/AppProvider.tsx
  mobile/src/libs/graphql/fetcher.ts
  mobile/src/libs/react-query.ts
  mobile/src/libs/swr.ts
  mobile/src/libs/tanstack-query.ts
  mobile/src/libs/test/TestProvider.tsx
  mobile/src/libs/test/testing-library.tsx
Due: biome-fmt, mobile-eslint-fmt
