Repository ksugawara61/expo-template: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fmt, mobile-eslint-fmt

lefthook.yml:

pre-push:
  parallel: true
  commands:
    check-staged-files:
      run: |
        if git diff --cached --exit-code > /dev/null; then
          echo "✅ No staged files found. Push is allowed."
        else
          echo "❌ Error: There are staged files that haven't been committed."
          echo "This usually happens when pre-commit hooks format files but the changes aren't committed."
          echo ""
          echo "Staged files:"
          git diff --cached --name-only
          echo ""
          echo "Please commit these changes before pushing:"
          echo "  git add ."
          echo "  git commit --amend --no-edit"
          echo "  # or create a new commit"
          exit 1
        fi
    tests:
      run: pnpm turbo test --filter="...[HEAD~1]"

pre-commit:
  parallel: true
  commands:
    biome-fmt:
      glob: "**/*.{js,ts,jsx,tsx,json}"
      run: pnpm biome check --no-errors-on-unmatched --files-ignore-unknown=true --write --staged
    mobile-eslint-fmt:
      glob: "mobile/**/*.{js,ts,jsx,tsx}"
      run: cd mobile && echo "{staged_files}" | sed 's|mobile/||g' | xargs pnpm eslint --fix

fix: script を esm 対応
  mobile/scripts/generate-typenames.ts
  mobile/src/libs/graphql/operationTypenames.generated.ts
  mobile/tsconfig.json
Due: biome-fmt, mobile-eslint-fmt

remove: ts-morph
  mobile/package.json
  mobile/pnpm-lock.yaml
Due: biome-fmt

gql-tada turbo で生成されるファイルを基に operationTypenames.generated.ts 相当の処理を実装 (#231)
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/scripts/generate-typenames.ts
  mobile/src/features/BookmarkAddEdit/index.tsx
  mobile/src/features/BookmarkAddEdit/mocks.ts
  mobile/src/features/Bookmarks/index.tsx
  mobile/src/libs/graphql/generated/graphql.ts
  mobile/src/libs/graphql/operationTypenames.generated.ts
  mobile/tsconfig.json
Due: biome-fmt, mobile-eslint-fmt

Article APIをoffset based paginationに変更
  graphql/src/application/articles/FetchArticlesUseCase.test.ts
  graphql/src/application/articles/FetchArticlesUseCase.ts
  graphql/src/infrastructure/external/ArticleRepository.ts
  graphql/src/server.test.ts
  graphql/src/server.ts
  mobile/src/features/Articles/index.tsx
  mobile/src/libs/graphql/schema.graphql
Due: biome-fmt, mobile-eslint-fmt

Article APIをoffset based paginationに変更 (#233)
  graphql/src/application/articles/FetchArticlesUseCase.test.ts
  graphql/src/application/articles/FetchArticlesUseCase.ts
  graphql/src/infrastructure/external/ArticleRepository.ts
  graphql/src/server.test.ts
  graphql/src/server.ts
  mobile/src/features/Articles/index.tsx
  mobile/src/libs/graphql/schema.graphql
Due: biome-fmt, mobile-eslint-fmt

useEffectの依存関係配列を修正
  mobile/src/features/Articles/index.tsx
Due: biome-fmt, mobile-eslint-fmt

feat: LazyQuery の試作を追加して無限レンダリングを対応
  graphql/src/generated/gqty/schema.generated.ts
  mobile/src/features/Articles/index.tsx
  mobile/src/libs/graphql/urql.ts
Due: biome-fmt, mobile-eslint-fmt

fix: 初回レンダリング時の通信処理を追加
  mobile/src/features/Articles/index.tsx
Due: biome-fmt, mobile-eslint-fmt

Articles コンポーネントに無限スクロール機能を実装 (#235)
  graphql/src/generated/gqty/schema.generated.ts
  mobile/src/features/Articles/index.tsx
  mobile/src/libs/graphql/urql.ts
Due: biome-fmt, mobile-eslint-fmt

feat: webでも開発できるようにコマンド追加
  biome.json
  package.json
  turbo.json
Due: none

chore(node): Node.js を 20.19.0 に更新
  .node-version
Due: none

update lock
  mobile/pnpm-lock.yaml
Due: none

feat: PrismaからDrizzle ORMに移行
  graphql/drizzle.config.ts
  graphql/package.json
  graphql/pnpm-lock.yaml
  graphql/prisma.config.ts
  graphql/prisma/migrations/20250916233743_init/migration.sql
  graphql/prisma/migrations/20251013022746_add_tags_support/migration.sql
  graphql/prisma/migrations/migration_lock.toml
  graphql/prisma/schema.prisma
  graphql/src/application/bookmarks/CreateBookmarkUseCase.test.ts
  graphql/src/application/bookmarks/DeleteBookmarkUseCase.test.ts
  graphql/src/application/bookmarks/FetchBookmarkByIdUseCase.test.ts
  graphql/src/application/bookmarks/FetchBookmarksUseCase.test.ts
  graphql/src/application/bookmarks/UpdateBookmarkUseCase.test.ts
  graphql/src/application/tags/CreateTagUseCase.test.ts
  graphql/src/application/tags/FetchTagsUseCase.test.ts
  graphql/src/infrastructure/persistence/BookmarkRepository.test.ts
  graphql/src/infrastructure/persistence/BookmarkRepository.ts
  graphql/src/infrastructure/persistence/TagRepository.ts
  graphql/src/libs/drizzle/client.ts
  graphql/src/libs/drizzle/migrations/0000_wonderful_texas_twister.sql
  graphql/src/libs/drizzle/migrations/meta/0000_snapshot.json
  graphql/src/libs/drizzle/migrations/meta/_journal.json
  graphql/src/libs/drizzle/schema.ts
  graphql/src/libs/prisma/client.ts
  graphql/src/libs/test/globalSetup.ts
  graphql/src/libs/test/vitest.setup.ts
Due: biome-fmt

fix: Drizzleテスト設定を改善し、個別テストの安定性を向上
  graphql/src/application/tags/CreateTagUseCase.test.ts
  graphql/src/infrastructure/persistence/BookmarkRepository.test.ts
  graphql/src/infrastructure/persistence/BookmarkRepository.ts
  graphql/src/libs/drizzle/migrations/meta/0000_snapshot.json
  graphql/src/libs/drizzle/migrations/meta/_journal.json
  graphql/src/libs/test/globalSetup.ts
  graphql/src/libs/test/vitest.setup.ts
  graphql/vitest.config.ts
Due: biome-fmt

fix: libsqlでの動的テーブル取得処理に修正
  graphql/src/libs/test/vitest.setup.ts
Due: biome-fmt

fix: Lintエラーを修正（未使用変数を削除）
  graphql/src/libs/test/vitest.setup.ts
Due: biome-fmt

fix: 環境変数未設定時にローカルDBを使用するよう修正
  graphql/src/libs/drizzle/client.ts
Due: biome-fmt

fix: テストのデータベースロック問題を解決
  graphql/src/libs/test/globalSetup.ts
  graphql/src/libs/test/vitest.setup.ts
  graphql/vitest.config.ts
Due: biome-fmt

fix: テスト環境でのデータベースクライアント再接続を修正
  graphql/src/infrastructure/persistence/BookmarkRepository.ts
  graphql/src/infrastructure/persistence/TagRepository.ts
  graphql/src/libs/drizzle/client.ts
  graphql/src/libs/drizzle/testClient.ts
  graphql/src/libs/test/vitest.setup.ts
Due: biome-fmt

fix: インメモリデータベースでテスト安定性を改善
  graphql/src/libs/test/vitest.setup.ts
  graphql/vitest.config.ts
Due: biome-fmt

fix: 未使用importを削除
  graphql/src/libs/test/vitest.setup.ts
Due: biome-fmt

fix: テストを全て通るように修正
  graphql/src/application/bookmarks/FetchBookmarksUseCase.test.ts
  graphql/src/infrastructure/persistence/BookmarkRepository.ts
  graphql/src/libs/test/globalSetup.ts
  graphql/src/libs/test/vitest.setup.ts
  graphql/vitest.config.ts
Due: biome-fmt

chore(migrations): 初期マイグレーションとスナップショットを追加し、テスト globalSetup を簡素化して db:generate と db:migrate を実行するよう変更
  graphql/src/libs/drizzle/migrations/0000_clean_the_twelve.sql
  graphql/src/libs/drizzle/migrations/meta/0000_snapshot.json
  graphql/src/libs/drizzle/migrations/meta/_journal.json
  graphql/src/libs/test/globalSetup.ts
Due: biome-fmt

style(migrations): スナップショットとジャーナルのJSON整形（配列をインライン化・EOFに改行追加）
  graphql/src/libs/drizzle/migrations/meta/0000_snapshot.json
  graphql/src/libs/drizzle/migrations/meta/_journal.json
Due: biome-fmt

remove: testClient
  graphql/src/infrastructure/persistence/BookmarkRepository.ts
  graphql/src/infrastructure/persistence/TagRepository.ts
  graphql/src/libs/drizzle/client.ts
  graphql/src/libs/drizzle/testClient.ts
  graphql/src/libs/test/vitest.setup.ts
Due: biome-fmt

fix: 新規テーブル追加でもテストでDB clean できるように変更
  graphql/src/libs/test/vitest.setup.ts
Due: biome-fmt

fix: 設定調整
  graphql/src/libs/test/globalSetup.ts
  graphql/vitest.config.ts
Due: biome-fmt

fix: dotenv 調整
  graphql/.env.sample
Due: none

feat: PrismaからDrizzle ORMに移行してCloudflare Worker対応を実現 (#243)
  graphql/.env.sample
  graphql/drizzle.config.ts
  graphql/package.json
  graphql/pnpm-lock.yaml
  graphql/prisma.config.ts
  graphql/prisma/migrations/20250916233743_init/migration.sql
  graphql/prisma/migrations/20251013022746_add_tags_support/migration.sql
  graphql/prisma/migrations/migration_lock.toml
  graphql/prisma/schema.prisma
  graphql/src/application/bookmarks/CreateBookmarkUseCase.test.ts
  graphql/src/application/bookmarks/DeleteBookmarkUseCase.test.ts
  graphql/src/application/bookmarks/FetchBookmarkByIdUseCase.test.ts
  graphql/src/application/bookmarks/FetchBookmarksUseCase.test.ts
  graphql/src/application/bookmarks/UpdateBookmarkUseCase.test.ts
  graphql/src/application/tags/CreateTagUseCase.test.ts
  graphql/src/application/tags/FetchTagsUseCase.test.ts
  graphql/src/infrastructure/persistence/BookmarkRepository.test.ts
  graphql/src/infrastructure/persistence/BookmarkRepository.ts
  graphql/src/infrastructure/persistence/TagRepository.ts
  graphql/src/libs/drizzle/client.ts
  graphql/src/libs/drizzle/migrations/0000_clean_the_twelve.sql
  graphql/src/libs/drizzle/migrations/meta/0000_snapshot.json
  graphql/src/libs/drizzle/migrations/meta/_journal.json
  graphql/src/libs/drizzle/schema.ts
  graphql/src/libs/prisma/client.ts
  graphql/src/libs/test/globalSetup.ts
  graphql/src/libs/test/vitest.setup.ts
  graphql/vitest.config.ts
Due: biome-fmt

feat: cloudflare worker の設定を追加
  graphql/package.json
  graphql/pnpm-lock.yaml
  graphql/pylon.d.ts
  graphql/src/index.ts
  graphql/src/infrastructure/persistence/BookmarkRepository.ts
  graphql/src/infrastructure/persistence/TagRepository.ts
  graphql/src/libs/drizzle/client.ts
  graphql/src/libs/test/vitest.setup.ts
  graphql/wrangler.toml
Due: biome-fmt

fix: disabled telemetry
  graphql/package.json
  graphql/src/index.ts
  graphql/vitest.config.ts
Due: biome-fmt

feat: turso cli 経由でローカルDBを参照する設定を追加
  graphql/.dev/.gitkeep
  graphql/.env.sample
  graphql/.gitignore
  graphql/package.json
Due: biome-fmt

feat: cloudflare worker の設定を追加 (#244)
  graphql/.dev/.gitkeep
  graphql/.env.sample
  graphql/.gitignore
  graphql/package.json
  graphql/pnpm-lock.yaml
  graphql/pylon.d.ts
  graphql/src/index.ts
  graphql/src/infrastructure/persistence/BookmarkRepository.ts
  graphql/src/infrastructure/persistence/TagRepository.ts
  graphql/src/libs/drizzle/client.ts
  graphql/src/libs/test/vitest.setup.ts
  graphql/vitest.config.ts
  graphql/wrangler.toml
Due: biome-fmt

fix: BookmarkRepositoryのlint warning解消
  graphql/drizzle.config.ts
  graphql/src/infrastructure/persistence/BookmarkRepository.ts
Due: biome-fmt

feat: biomeのnoNonNullAssertionルールをerrorレベルに変更
  biome.json
Due: none

fix: BookmarkRepositoryのlint warning解消 (#246)
  biome.json
  graphql/drizzle.config.ts
  graphql/src/infrastructure/persistence/BookmarkRepository.ts
Due: biome-fmt

fix: BookmarkRepositoryのタグセット追加時の不具合を修正
  graphql/src/infrastructure/persistence/BookmarkRepository.test.ts
  graphql/src/infrastructure/persistence/BookmarkRepository.ts
  graphql/src/infrastructure/persistence/TagRepository.ts
Due: biome-fmt

fix: BookmarkRepositoryのタグセット追加時の不具合を修正 (#249)
  graphql/src/infrastructure/persistence/BookmarkRepository.test.ts
  graphql/src/infrastructure/persistence/BookmarkRepository.ts
  graphql/src/infrastructure/persistence/TagRepository.ts
Due: biome-fmt

docs: プロジェクトのREADME.mdを追加
  README.md
Due: none

feat: GraphQL API に Clerk 認証ミドルウェアを追加
  graphql/package.json
  graphql/pnpm-lock.yaml
  graphql/pylon.d.ts
  graphql/src/middleware/auth.ts
  graphql/src/server.ts
Due: biome-fmt
