Repository ksugawara61/expo-template: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fmt, mobile-eslint-fmt

biome-fmt:
  run: pnpm biome check --no-errors-on-unmatched --files-ignore-unknown=true --write --staged

mobile-eslint-fmt:
  run: cd mobile && echo "{staged_files}" | sed 's|mobile/||g' | xargs pnpm eslint --fix

ブックマークAPIにタグ機能を追加
  graphql/prisma/migrations/20251013022746_add_tags_support/migration.sql
  graphql/prisma/schema.prisma
  graphql/src/application/tags/CreateTagUseCase.ts
  graphql/src/application/tags/FetchTagsUseCase.ts
  graphql/src/infrastructure/domain/Bookmark.ts
  graphql/src/infrastructure/domain/Tag.ts
  graphql/src/infrastructure/persistence/BookmarkRepository.ts
  graphql/src/infrastructure/persistence/TagRepository.ts
  graphql/src/server.ts
Due: biome-fmt

CreateTagUseCaseとFetchTagUseCaseのテストを追加
  graphql/src/application/tags/CreateTagUseCase.test.ts
  graphql/src/application/tags/FetchTagsUseCase.test.ts
Due: biome-fmt

GraphQL codegenを実行してタグ機能のクライアントコードを生成
  mobile/src/libs/graphql/generated/graphql.ts
  mobile/src/libs/graphql/operationTypenames.generated.ts
  mobile/src/libs/graphql/schema.graphql
Due: biome-fmt, mobile-eslint-fmt

ブックマークAPIにタグ機能を追加 (#214)
  graphql/prisma/migrations/20251013022746_add_tags_support/migration.sql
  graphql/prisma/schema.prisma
  graphql/src/application/tags/CreateTagUseCase.test.ts
  graphql/src/application/tags/CreateTagUseCase.ts
  graphql/src/application/tags/FetchTagsUseCase.test.ts
  graphql/src/application/tags/FetchTagsUseCase.ts
  graphql/src/infrastructure/domain/Bookmark.ts
  graphql/src/infrastructure/domain/Tag.ts
  graphql/src/infrastructure/persistence/BookmarkRepository.ts
  graphql/src/infrastructure/persistence/TagRepository.ts
  graphql/src/server.ts
  mobile/src/libs/graphql/generated/graphql.ts
  mobile/src/libs/graphql/operationTypenames.generated.ts
  mobile/src/libs/graphql/schema.graphql
Due: biome-fmt, mobile-eslint-fmt

GraphQLのpre-pushでcodegen:checkを実行する仕組みを追加
  lefthook.yml
  mobile/package.json
Due: biome-fmt

mobile/package.jsonのcodegen:checkを削除し、rootの仕組みを利用するように修正
  lefthook.yml
  mobile/package.json
Due: biome-fmt

GraphQLのpre-pushでcodegen:checkを実行する仕組みを追加 (#216)
  lefthook.yml
Due: none

graphqlのprismaの処理をTypedSQLに置き換え
  graphql/package.json
  graphql/pnpm-lock.yaml
  graphql/prisma/schema.prisma
  graphql/prisma/sql/createBookmark.sql
  graphql/prisma/sql/createBookmarkTag.sql
  graphql/prisma/sql/createTag.sql
  graphql/prisma/sql/deleteBookmark.sql
  graphql/prisma/sql/deleteBookmarkTags.sql
  graphql/prisma/sql/deleteTag.sql
  graphql/prisma/sql/findAllTags.sql
  graphql/prisma/sql/findBookmarkById.sql
  graphql/prisma/sql/findManyBookmarks.sql
  graphql/prisma/sql/findTagById.sql
  graphql/prisma/sql/findTagByName.sql
  graphql/prisma/sql/updateBookmark.sql
  graphql/prisma/sql/updateTag.sql
  graphql/src/infrastructure/persistence/BookmarkRepository.ts
  graphql/src/infrastructure/persistence/TagRepository.ts
  graphql/src/libs/test/globalSetup.ts
Due: biome-fmt

ブックマーク追加・編集でタグの追加・更新機能を実装
  mobile/src/features/BookmarkAddEdit/index.tsx
  mobile/src/features/Bookmarks/index.tsx
  mobile/src/features/Bookmarks/types.ts
  mobile/src/libs/graphql/generated/gql.ts
  mobile/src/libs/graphql/generated/graphql.ts
  mobile/src/libs/graphql/operationTypenames.generated.ts
Due: biome-fmt, mobile-eslint-fmt

GraphQLスキーマファイルを更新
  mobile/src/libs/graphql/generated/gql.ts
  mobile/src/libs/graphql/generated/graphql.ts
Due: biome-fmt, mobile-eslint-fmt

VRT Approve
  mobile/vrt/public/report/expected/Features_BookmarkAddEdit_Default.png
  mobile/vrt/public/report/expected/Features_BookmarkAddEdit_Edit.png
Due: none

ブックマーク追加・編集モーダルでタグも追加できるように対応 (#220)
  mobile/src/features/BookmarkAddEdit/index.tsx
  mobile/src/features/Bookmarks/index.tsx
  mobile/src/features/Bookmarks/types.ts
  mobile/src/libs/graphql/generated/gql.ts
  mobile/src/libs/graphql/generated/graphql.ts
  mobile/src/libs/graphql/operationTypenames.generated.ts
  mobile/vrt/public/report/expected/Features_BookmarkAddEdit_Default.png
  mobile/vrt/public/report/expected/Features_BookmarkAddEdit_Edit.png
Due: biome-fmt, mobile-eslint-fmt

generate-typenamesをFragmentにも対応させる
  mobile/scripts/generate-typenames.ts
  mobile/src/libs/graphql/operationTypenames.generated.ts
Due: biome-fmt, mobile-eslint-fmt

generate-typenamesをFragmentにも対応させる (#222)
  mobile/scripts/generate-typenames.ts
  mobile/src/libs/graphql/operationTypenames.generated.ts
Due: biome-fmt, mobile-eslint-fmt

gql.tadaにGraphQLコード生成を移行
  mobile/app/modal.tsx
  mobile/codegen.ts
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/src/features/Articles/index.tsx
  mobile/src/features/BookmarkAddEdit/index.stories.tsx
  mobile/src/features/BookmarkAddEdit/index.tsx
  mobile/src/features/Bookmarks/index.mocks.ts
  mobile/src/features/Bookmarks/index.tsx
  mobile/src/libs/graphql/generated/fragment-masking.ts
  mobile/src/libs/graphql/generated/gql.ts
  mobile/src/libs/graphql/generated/graphql.ts
  mobile/src/libs/graphql/generated/index.ts
  mobile/src/libs/graphql/graphql-env.d.ts
  mobile/src/libs/graphql/graphql.ts
  mobile/src/libs/graphql/operationTypenames.generated.ts
  mobile/src/libs/graphql/schema.graphql
  mobile/src/libs/graphql/urql.ts
  mobile/tsconfig.json
Due: biome-fmt, mobile-eslint-fmt

gql.tadaでadditionalTypeNames自動設定機能を復活
  mobile/src/features/Bookmarks/index.tsx
  mobile/src/libs/graphql/operationTypenames.generated.ts
  mobile/src/libs/graphql/urql.ts
Due: biome-fmt, mobile-eslint-fmt

codegenスクリプトにフォーマット機能を追加
  mobile/package.json
Due: biome-fmt

lintエラーを修正
  mobile/src/features/BookmarkAddEdit/index.tsx
  mobile/src/libs/graphql/graphql-env.d.ts
Due: biome-fmt, mobile-eslint-fmt

featuresディレクトリの構造を見直し
  mobile/src/features/Articles/index.test.tsx
  mobile/src/features/Articles/mocks.ts
  mobile/src/features/Articles/stories.tsx
  mobile/src/features/BookmarkAddEdit/index.test.tsx
  mobile/src/features/BookmarkAddEdit/mocks.ts
  mobile/src/features/BookmarkAddEdit/stories.tsx
  mobile/src/features/Bookmarks/index.test.tsx
  mobile/src/features/Bookmarks/mocks.ts
  mobile/src/features/Bookmarks/stories.tsx
  mobile/src/features/License/index.test.tsx
  mobile/src/features/License/stories.tsx
Due: biome-fmt, mobile-eslint-fmt

テストケースを修正
  mobile/src/features/BookmarkAddEdit/index.test.tsx
  mobile/src/libs/graphql/schema.graphql
Due: biome-fmt, mobile-eslint-fmt

placeholderTextを実際のUIに合わせて修正
  mobile/src/features/BookmarkAddEdit/index.test.tsx
Due: biome-fmt, mobile-eslint-fmt

schema.graphqlのフォーマットを修正
  mobile/src/features/BookmarkAddEdit/index.tsx
  mobile/src/features/BookmarkAddEdit/mocks.ts
  mobile/src/libs/graphql/schema.graphql
Due: biome-fmt, mobile-eslint-fmt

Storybookの設定を修正してstories.tsxファイルを検出可能に
  mobile/.storybook/main.ts
Due: biome-fmt, mobile-eslint-fmt

VRT Approve
  mobile/vrt/public/report/expected/Features_BookmarkAddEdit_Create.png
Due: none

featuresディレクトリの構造見直し (#226)
  mobile/.storybook/main.ts
  mobile/src/features/Articles/index.test.tsx
  mobile/src/features/Articles/mocks.ts
  mobile/src/features/Articles/stories.tsx
  mobile/src/features/BookmarkAddEdit/index.test.tsx
  mobile/src/features/BookmarkAddEdit/index.tsx
  mobile/src/features/BookmarkAddEdit/mocks.ts
  mobile/src/features/BookmarkAddEdit/stories.tsx
  mobile/src/features/Bookmarks/index.test.tsx
  mobile/src/features/Bookmarks/mocks.ts
  mobile/src/features/Bookmarks/stories.tsx
  mobile/src/features/License/index.test.tsx
  mobile/src/features/License/stories.tsx
  mobile/vrt/public/report/expected/Features_BookmarkAddEdit_Create.png
Due: biome-fmt, mobile-eslint-fmt

feat: prisma から turso に接続する機能を追加
  graphql/.env.sample
  graphql/package.json
  graphql/pnpm-lock.yaml
  graphql/prisma.config.ts
  graphql/prisma/schema.prisma
  graphql/src/generated/gqty/schema.generated.ts
  graphql/src/libs/prisma/client.ts
Due: biome-fmt

fix: ローカル設定が正しくなかったので修正＆テスト調整
  graphql/src/libs/prisma/client.ts
  graphql/src/libs/test/globalSetup.ts
Due: biome-fmt

Feature/227 turso と繋げられるように対応 (#228)
  graphql/.env.sample
  graphql/package.json
  graphql/pnpm-lock.yaml
  graphql/prisma.config.ts
  graphql/prisma/schema.prisma
  graphql/src/generated/gqty/schema.generated.ts
  graphql/src/libs/prisma/client.ts
  graphql/src/libs/test/globalSetup.ts
Due: biome-fmt

feat: gql.tada の設定を追加
  biome.json
  mobile/app/modal.tsx
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/src/features/Articles/index.tsx
  mobile/src/features/BookmarkAddEdit/index.tsx
  mobile/src/features/Bookmarks/index.tsx
  mobile/src/libs/graphql/gql-tada/graphql-env.d.ts
  mobile/src/libs/graphql/gql-tada/index.ts
  mobile/tsconfig.json
Due: biome-fmt, mobile-eslint-fmt

fix: 微調整
  biome.json
  mobile/.gitignore
  mobile/src/features/Articles/index.tsx
  mobile/src/features/BookmarkAddEdit/index.tsx
  mobile/src/features/Bookmarks/index.tsx
  mobile/tsconfig.json
Due: biome-fmt, mobile-eslint-fmt

feat: eslint 追加
  mobile/app/modal.tsx
  packages/eslint-config/graphql.js
  packages/eslint-config/mobile.js
Due: biome-fmt, mobile-eslint-fmt

feat: scalar の追加
  mobile/src/libs/graphql/gql-tada/index.ts
Due: biome-fmt, mobile-eslint-fmt

remove: graphql-codegen settings
  mobile/codegen.ts
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/src/libs/graphql/generated/fragment-masking.ts
  mobile/src/libs/graphql/generated/gql.ts
  mobile/src/libs/graphql/generated/graphql.ts
  mobile/src/libs/graphql/generated/index.ts
  package.json
Due: biome-fmt, mobile-eslint-fmt

fix: 型安全にモックする処理を整備
  mobile/src/features/Articles/mocks.ts
  mobile/src/features/BookmarkAddEdit/mocks.ts
  mobile/src/features/BookmarkAddEdit/stories.tsx
  mobile/src/features/Bookmarks/mocks.ts
  mobile/src/libs/graphql/gql-tada/index.ts
  mobile/src/libs/graphql/msw-utils.ts
Due: biome-fmt, mobile-eslint-fmt

fix: msw-utils の型から any を排除
  mobile/src/libs/graphql/msw-utils.ts
Due: biome-fmt, mobile-eslint-fmt

Feature/223 graphql codegen から gql.tada へ移行 (#229)
  biome.json
  mobile/.gitignore
  mobile/app/modal.tsx
  mobile/codegen.ts
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/src/features/Articles/index.tsx
  mobile/src/features/Articles/mocks.ts
  mobile/src/features/BookmarkAddEdit/index.tsx
  mobile/src/features/BookmarkAddEdit/mocks.ts
  mobile/src/features/BookmarkAddEdit/stories.tsx
  mobile/src/features/Bookmarks/index.tsx
  mobile/src/features/Bookmarks/mocks.ts
  mobile/src/libs/graphql/generated/fragment-masking.ts
  mobile/src/libs/graphql/generated/gql.ts
  mobile/src/libs/graphql/generated/graphql.ts
  mobile/src/libs/graphql/generated/index.ts
  mobile/src/libs/graphql/gql-tada/graphql-env.d.ts
  mobile/src/libs/graphql/gql-tada/index.ts
  mobile/src/libs/graphql/msw-utils.ts
  mobile/tsconfig.json
  package.json
  packages/eslint-config/graphql.js
  packages/eslint-config/mobile.js
Due: biome-fmt, mobile-eslint-fmt

gql-tada turbo で生成されるファイルを基に operationTypenames.generated.ts 相当の処理を実装
  mobile/scripts/generate-typenames.ts
  mobile/src/libs/graphql/generated/graphql.ts
  mobile/src/libs/graphql/operationTypenames.generated.ts
Due: biome-fmt, mobile-eslint-fmt

fix: generate-typenames スクリプトを gql.tada 対応に修正
  mobile/scripts/generate-typenames.ts
  mobile/src/libs/graphql/gql-tada/graphql-cache.d.ts
  mobile/src/libs/graphql/operationTypenames.generated.ts
Due: biome-fmt, mobile-eslint-fmt

fix: test と test:changed スクリプトで NODE_ENV=test を設定
  mobile/package.json
Due: biome-fmt

fix: typegen login
  mobile/package.json
  mobile/src/features/BookmarkAddEdit/index.tsx
  mobile/src/features/BookmarkAddEdit/mocks.ts
  mobile/src/features/Bookmarks/index.tsx
  mobile/src/libs/graphql/gql-tada/graphql-cache.d.ts
  mobile/src/libs/graphql/operationTypenames.generated.ts
Due: biome-fmt, mobile-eslint-fmt

Path conditions:
  biome-fmt: any of: **/*.{js,ts,jsx,tsx,json}
  mobile-eslint-fmt: any of: mobile/**/*.{js,ts,jsx,tsx}
