Repository ksugawara61/expo-template: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fmt, mobile-eslint-fmt

biome-fmt:
  run: pnpm biome check --no-errors-on-unmatched --files-ignore-unknown=true --write --staged

mobile-eslint-fmt:
  run: cd mobile && echo "{staged_files}" | sed 's|mobile/||g' | xargs pnpm eslint --fix

fix: テスト/開発環境用の認証バイパス機能を追加
  graphql/.env.sample
  graphql/README.md
  graphql/pylon.d.ts
  graphql/src/libs/test/authHelper.ts
  graphql/src/libs/test/vitest.setup.ts
  graphql/src/middleware/auth.ts
Due: biome-fmt

fix: lint エラーを修正
  graphql/pnpm-lock.yaml
  graphql/src/libs/test/authHelper.ts
  graphql/src/middleware/auth.ts
Due: biome-fmt

fix: server.ts
  graphql/src/server.ts
Due: biome-fmt

feat: 諸々整理
  graphql/src/libs/test/authHelper.ts
  graphql/src/libs/test/vitest.setup.ts
  graphql/src/middleware/auth.ts
Due: biome-fmt

Revert "fix: server.ts"
  graphql/src/server.ts
Due: biome-fmt

fix: tempolary remove server.ts
  graphql/src/server.ts
Due: biome-fmt

feat: カリー化で認証処理を追加
  graphql/src/middleware/auth.ts
  graphql/src/server.ts
Due: biome-fmt

fix: noExplicitAny を biome で管理
  biome.json
  graphql/src/middleware/auth.ts
  mobile/src/libs/graphql/urql.ts
  packages/eslint-config/index.js
Due: biome-fmt, mobile-eslint-fmt

feat: GraphQL API に Clerk 認証ミドルウェアを追加 (#250)
  biome.json
  graphql/.env.sample
  graphql/README.md
  graphql/package.json
  graphql/pnpm-lock.yaml
  graphql/pylon.d.ts
  graphql/src/libs/test/authHelper.ts
  graphql/src/libs/test/vitest.setup.ts
  graphql/src/middleware/auth.ts
  graphql/src/server.ts
  mobile/src/libs/graphql/urql.ts
  packages/eslint-config/index.js
Due: biome-fmt, mobile-eslint-fmt

feat: mobile の urql 設定にテスト用認証ヘッダーを追加
  mobile/src/libs/graphql/urql.ts
  mobile/src/libs/test/TestProvider.tsx
Due: biome-fmt, mobile-eslint-fmt

fix: 諸々
  graphql/.env.sample
  mobile/src/libs/graphql/urql.ts
  packages/eslint-config/index.js
Due: biome-fmt, mobile-eslint-fmt

feat: mobile の urql 設定にテスト用認証ヘッダーを追加 (#251)
  graphql/.env.sample
  mobile/src/libs/graphql/urql.ts
  mobile/src/libs/test/TestProvider.tsx
  packages/eslint-config/index.js
Due: biome-fmt, mobile-eslint-fmt

feat: ローカル開発用ダミーログイン画面を追加
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/login.tsx
  mobile/src/libs/auth/AuthContext.tsx
  mobile/src/libs/graphql/urql.ts
Due: biome-fmt, mobile-eslint-fmt

refactor: ログイン画面をプロダクション対応に修正
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/login.tsx
  mobile/app/_layout.tsx
  mobile/app/login.tsx
  mobile/src/components/auth/AuthenticatedContent.tsx
  mobile/src/libs/AppProvider.tsx
  mobile/src/libs/auth/AuthContext.tsx
Due: biome-fmt, mobile-eslint-fmt

feat: ローカル開発用ダミーログイン画面を追加 (#253)
  mobile/app/(tabs)/_layout.tsx
  mobile/app/_layout.tsx
  mobile/app/login.tsx
  mobile/src/components/auth/AuthenticatedContent.tsx
  mobile/src/libs/AppProvider.tsx
  mobile/src/libs/auth/AuthContext.tsx
  mobile/src/libs/graphql/urql.ts
Due: biome-fmt, mobile-eslint-fmt

feat: Clerk を利用してEmailログインできるようにする
  mobile/.env.example
  mobile/app/login.tsx
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/src/libs/AppProvider.tsx
  mobile/src/libs/auth/AuthContext.tsx
  mobile/src/libs/auth/ClerkProvider.tsx
  mobile/src/libs/graphql/urql.ts
Due: biome-fmt, mobile-eslint-fmt

test: ログイン画面のテストコードを追加
  mobile/app/login.test.tsx
Due: biome-fmt, mobile-eslint-fmt

refactor: jotaiを導入してステート管理をシンプルにする
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/src/libs/AppProvider.tsx
  mobile/src/libs/auth/AuthContext.tsx
  mobile/src/libs/auth/authAtoms.ts
Due: biome-fmt, mobile-eslint-fmt

fix: テスト実行時の型エラーとClerk環境変数の問題を修正
  mobile/app/login.test.tsx
  mobile/src/libs/auth/AuthContext.tsx
Due: biome-fmt, mobile-eslint-fmt

fix: ログイン画面のテストを修正して動作するように改善
  mobile/app/login.test.tsx
Due: biome-fmt, mobile-eslint-fmt

refactor: Auth Context を Jotai でリファクタリング
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/src/libs/auth/AuthContext.test.tsx
  mobile/src/libs/auth/AuthContext.tsx
  mobile/src/libs/auth/authAtoms.test.ts
  mobile/src/libs/auth/authAtoms.ts
Due: biome-fmt, mobile-eslint-fmt

fix: fmt
  mobile/src/libs/auth/AuthContext.test.tsx
  mobile/src/libs/auth/AuthContext.tsx
  mobile/src/libs/auth/authAtoms.test.ts
  mobile/src/libs/auth/authAtoms.ts
Due: biome-fmt, mobile-eslint-fmt

refactor: Auth Context を Jotai でリファクタリング (#263)
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/src/libs/auth/AuthContext.test.tsx
  mobile/src/libs/auth/AuthContext.tsx
  mobile/src/libs/auth/authAtoms.test.ts
  mobile/src/libs/auth/authAtoms.ts
Due: biome-fmt, mobile-eslint-fmt

feat: VRTレポートのGitHub Pages対応を追加
  .github/workflows/vrt-pages-manage.yaml
  .github/workflows/vrt.yaml
Due: none

fix deps
  mobile/pnpm-lock.yaml
Due: none

fix: GitHub Pages権限エラーを修正してアーティファクトベースに変更
  .github/workflows/vrt-pages-manage.yaml
  .github/workflows/vrt.yaml
Due: none

VRTレポートのGitHub Pages対応を追加 (#265)
  .github/workflows/vrt.yaml
  mobile/pnpm-lock.yaml
Due: none

build(deps): bump biome schema version to 2.3.6
  biome.json
Due: none

feat: typescript の guideline を追加
  CLAUDE.md
  docs/guidelines/typescript.md
Due: none

feat: test の guideline を追加
  docs/guidelines/test.md
Due: none

update test guideline
  docs/guidelines/test.md
Due: none

feat: TypeScriptとテストのコーディングガイドライン追加 (#283)
  CLAUDE.md
  docs/guidelines/test.md
  docs/guidelines/typescript.md
Due: none

feat: ログアウト・ライセンス一覧を管理する設定画面を追加
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/license.tsx
  mobile/src/features/Settings/index.tsx
Due: biome-fmt, mobile-eslint-fmt

fix: ヘッダーに表示される重複タイトルを削除
  mobile/src/features/Settings/index.tsx
Due: biome-fmt, mobile-eslint-fmt

fix: 存在しないアイコンをfile-document-outlineに修正
  mobile/src/features/Settings/index.tsx
Due: biome-fmt, mobile-eslint-fmt

fix: ログアウトCardをシンプルにし、ボタンにアイコンを追加
  mobile/src/features/Settings/index.tsx
Due: biome-fmt, mobile-eslint-fmt

test: Settingsコンポーネントのテストとストーリーファイルを追加
  mobile/src/features/Settings/index.test.tsx
  mobile/src/features/Settings/stories.tsx
Due: biome-fmt, mobile-eslint-fmt

VRT Approve
  mobile/vrt/public/report/expected/Features_Settings_Default.png
Due: none

feat: ログアウト・ライセンス一覧を管理する設定画面を追加 (#285)
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/license.tsx
  mobile/src/features/Settings/index.test.tsx
  mobile/src/features/Settings/index.tsx
  mobile/src/features/Settings/stories.tsx
  mobile/vrt/public/report/expected/Features_Settings_Default.png
Due: biome-fmt, mobile-eslint-fmt

feat: ClerkによるEmailログインとGoogle OAuthログインを実装
  mobile/.env.example
  mobile/app/_layout.tsx
  mobile/app/login.tsx
  mobile/app/signup.tsx
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/src/components/auth/AuthenticatedContent.tsx
  mobile/src/components/auth/OAuthButton.tsx
Due: biome-fmt, mobile-eslint-fmt

Path conditions:
  biome-fmt: any of: **/*.{js,ts,jsx,tsx,json}
  mobile-eslint-fmt: any of: mobile/**/*.{js,ts,jsx,tsx}
