Repository ksugawara61/expo-template: changes, and which lefthook commands are due for each by the changed paths.
All: mobile-fmt, graphql-fmt

lefthook.yml:

pre-push:
  parallel: true
  commands:
    mobile-tests:
      run: cd mobile && pnpm test
    # graphql-tests:
    #   run: cd graphql && pnpm test

pre-commit:
  parallel: true
  commands:
    mobile-fmt:
      glob: "mobile/**/*.{js,ts,jsx,tsx,json}"
      run: cd mobile && pnpm biome check --no-errors-on-unmatched --files-ignore-unknown=true --write --staged
    graphql-fmt:
      glob: "graphql/**/*.{js,ts,jsx,tsx,json}"
      run: cd graphql && pnpm biome check --no-errors-on-unmatched --files-ignore-unknown=true --write --staged

feat: lefthook install
  package.json
Due: none

feat: upgrade to Expo SDK 54
  mobile/app.json
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/src/features/Articles/index.test.tsx
  mobile/src/features/Articles/useContainer.test.ts
  mobile/src/features/Bookmarks/index.test.tsx
  mobile/src/libs/test/testing-library.tsx
Due: mobile-fmt

fix: testing-library.txを元の状態に戻してテスト失敗問題を修正
  mobile/src/features/Articles/index.test.tsx
  mobile/src/features/Articles/useContainer.test.ts
  mobile/src/features/Bookmarks/index.test.tsx
  mobile/src/libs/test/testing-library.tsx
Due: mobile-fmt

fix: React 19との互換性問題によるテスト失敗を暫定的に修正
  mobile/public/mockServiceWorker.js
  mobile/src/features/Articles/index.test.tsx
  mobile/src/features/Articles/useContainer.test.ts
  mobile/src/features/Bookmarks/index.test.tsx
  mobile/src/libs/test/testing-library.tsx
Due: mobile-fmt

feat: graphql claude command
  graphql/.claude/commands/fix-issue.md
  graphql/.claude/commands/fix-pr-comment.md
  graphql/.claude/commands/update-pr.md
Due: none

feat: migrate from PostgreSQL to SQLite database
  graphql/.env.sample
  graphql/package.json
  graphql/pnpm-lock.yaml
  graphql/prisma/dev.db
  graphql/prisma/migrations/20250729115920_init/migration.sql
  graphql/prisma/migrations/20250916233743_init/migration.sql
  graphql/prisma/migrations/migration_lock.toml
  graphql/prisma/schema.prisma
  graphql/src/libs/prisma/client.ts
Due: graphql-fmt

fix: dev.dbファイルをGit管理から除外
  graphql/.gitignore
  graphql/prisma/dev.db
Due: none

fix: GitHub Actions CIをSQLite対応に修正
  .github/workflows/graphql_test.yaml
  .github/workflows/graphql_typecheck.yaml
Due: none

fix: biome設定の自動修正
  graphql/biome.json
Due: none

fix: vitest設定のDATABASE_URLをSQLite用に修正
  graphql/vitest.config.ts
Due: none

fix: テスト環境でのデータベースセットアップを修正
  graphql/src/libs/test/vitest.setup.ts
Due: graphql-fmt

fix: Node.jsビルトインモジュールにnode:プロトコルを使用
  graphql/src/libs/test/vitest.setup.ts
Due: graphql-fmt

fix: resolve Prisma Query Engine issue in CI by disabling parallel execution
  graphql/src/domains/bookmarks/index.test.ts
  graphql/vitest.config.ts
Due: graphql-fmt

remove: bookmark更新テストの不要な遅延処理を削除
  graphql/src/domains/bookmarks/index.test.ts
Due: graphql-fmt

fix: bookmarkテストのタイムスタンプ検証をより堅牢に修正
  graphql/src/domains/bookmarks/index.test.ts
Due: graphql-fmt

feat: PostgreSQL から SQLite へのデータベース移行 (#99)
  .github/workflows/graphql_test.yaml
  .github/workflows/graphql_typecheck.yaml
  graphql/.env.sample
  graphql/.gitignore
  graphql/biome.json
  graphql/package.json
  graphql/pnpm-lock.yaml
  graphql/prisma/migrations/20250729115920_init/migration.sql
  graphql/prisma/migrations/20250916233743_init/migration.sql
  graphql/prisma/migrations/migration_lock.toml
  graphql/prisma/schema.prisma
  graphql/src/domains/bookmarks/index.test.ts
  graphql/src/libs/prisma/client.ts
  graphql/src/libs/test/vitest.setup.ts
  graphql/vitest.config.ts
Due: graphql-fmt

feat: lefthook の prepush 設定
  lefthook.yml
Due: none

feat: add glob
  lefthook.yml
Due: none

feat: add issue template
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

remove: supabase/postgres 関連の処理を削除
  graphql/README.md
  graphql/docker-compose.test.yml
  graphql/package.json
  graphql/supabase/.gitignore
  graphql/supabase/config.toml
Due: none

remove: Dockerfile と .dockerignore を削除
  graphql/.dockerignore
  graphql/Dockerfile
Due: none

remove: 不要なコマンド整理
  graphql/biome.json
  graphql/package.json
  graphql/pnpm-lock.yaml
Due: none

remove: supabase/postgres 関連の処理を削除 (#101)
  graphql/.dockerignore
  graphql/Dockerfile
  graphql/README.md
  graphql/biome.json
  graphql/docker-compose.test.yml
  graphql/package.json
  graphql/pnpm-lock.yaml
  graphql/supabase/.gitignore
  graphql/supabase/config.toml
Due: none

feat: vitest で db migration 周りの処理を整理
  .github/workflows/graphql_test.yaml
  graphql/src/libs/test/globalSetup.ts
  graphql/src/libs/test/vitest.setup.ts
  graphql/vitest.config.ts
Due: graphql-fmt

wip
  graphql/vitest.config.ts
Due: none

feat: vitest で db migration 周りの処理を整理 (#102)
  .github/workflows/graphql_test.yaml
  graphql/src/libs/test/globalSetup.ts
  graphql/src/libs/test/vitest.setup.ts
  graphql/vitest.config.ts
Due: graphql-fmt

feat: ArticleのuseContainerをやめて全てindex.tsxに処理をまとめる
  mobile/public/mockServiceWorker.js
  mobile/src/features/Articles/index.mocks.ts
  mobile/src/features/Articles/index.msw.ts
  mobile/src/features/Articles/index.stories.tsx
  mobile/src/features/Articles/index.test.tsx
  mobile/src/features/Articles/index.tsx
  mobile/src/features/Articles/useContainer.test.ts
  mobile/src/features/Articles/useContainer.ts
Due: mobile-fmt

feat: ArticleのuseContainerをやめて全てindex.tsxに処理をまとめる (#104)
  mobile/public/mockServiceWorker.js
  mobile/src/features/Articles/index.mocks.ts
  mobile/src/features/Articles/index.msw.ts
  mobile/src/features/Articles/index.stories.tsx
  mobile/src/features/Articles/index.test.tsx
  mobile/src/features/Articles/index.tsx
  mobile/src/features/Articles/useContainer.test.ts
  mobile/src/features/Articles/useContainer.ts
Due: mobile-fmt

feat: add GraphQL ESLint rules for better schema formatting
  mobile/biome.json
  mobile/eslint.config.mjs
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/public/mockServiceWorker.js
Due: mobile-fmt

fix: improve GraphQL ESLint settings with comprehensive naming conventions
  mobile/eslint.config.mjs
Due: none

refactor: simplify GraphQL ESLint configuration following official docs
  mobile/eslint.config.mjs
Due: none

graphql-eslint ルールが適用されるように調整
  mobile/codegen.ts
  mobile/eslint.config.mjs
  mobile/public/mockServiceWorker.js
  mobile/src/features/Articles/index.msw.ts
  mobile/src/features/Articles/index.tsx
  mobile/src/features/BookmarkAddEdit/index.msw.ts
  mobile/src/features/BookmarkAddEdit/index.tsx
  mobile/src/libs/gql/gql.ts
  mobile/src/libs/gql/graphql.ts
  mobile/src/libs/graphql/schema.graphql
Due: mobile-fmt

feat: lefthook
  lefthook.yml
Due: none

feat: GraphQL codegenのESLintルールを追加 (#106)
  lefthook.yml
  mobile/biome.json
  mobile/codegen.ts
  mobile/eslint.config.mjs
  mobile/package.json
  mobile/pnpm-lock.yaml
  mobile/public/mockServiceWorker.js
  mobile/src/features/Articles/index.msw.ts
  mobile/src/features/Articles/index.tsx
  mobile/src/features/BookmarkAddEdit/index.msw.ts
  mobile/src/features/BookmarkAddEdit/index.tsx
  mobile/src/libs/gql/gql.ts
  mobile/src/libs/gql/graphql.ts
  mobile/src/libs/graphql/schema.graphql
Due: mobile-fmt

feat: Clean Architectureディレクトリ構造にリファクタリング
  graphql/src/application/use-cases/articles/FetchArticlesUseCase.mocks.ts
  graphql/src/application/use-cases/articles/FetchArticlesUseCase.test.ts
  graphql/src/application/use-cases/articles/FetchArticlesUseCase.ts
  graphql/src/application/use-cases/articles/index.ts
  graphql/src/application/use-cases/bookmarks/CreateBookmarkUseCase.ts
  graphql/src/application/use-cases/bookmarks/DeleteBookmarkUseCase.ts
  graphql/src/application/use-cases/bookmarks/FetchBookmarkByIdUseCase.ts
  graphql/src/application/use-cases/bookmarks/FetchBookmarksUseCase.ts
  graphql/src/application/use-cases/bookmarks/UpdateBookmarkUseCase.ts
  graphql/src/application/use-cases/bookmarks/index.ts
  graphql/src/domain/articles/entities/Article.ts
  graphql/src/domain/articles/entities/index.ts
  graphql/src/domain/articles/repositories/ArticleRepository.ts
  graphql/src/domain/articles/repositories/index.ts
  graphql/src/domain/bookmarks/entities/Bookmark.ts
  graphql/src/domain/bookmarks/entities/index.ts
  graphql/src/domain/bookmarks/repositories/BookmarkRepository.ts
  graphql/src/domain/bookmarks/repositories/index.ts
  graphql/src/domains/articles/index.ts
  graphql/src/domains/bookmarks/index.mocks.ts
  graphql/src/domains/bookmarks/index.ts
  graphql/src/infrastructure/repositories/ArticleRepositoryImpl.ts
  graphql/src/infrastructure/repositories/BookmarkRepositoryImpl.ts
  graphql/src/infrastructure/repositories/index.ts
  graphql/src/interface/controllers/ArticleController.ts
  graphql/src/interface/controllers/BookmarkController.test.ts
  graphql/src/interface/controllers/BookmarkController.ts
  graphql/src/interface/controllers/index.ts
  graphql/src/server.test.ts
  graphql/src/server.ts
Due: graphql-fmt

fix: fmt
  graphql/src/application/use-cases/articles/FetchArticlesUseCase.mocks.ts
  graphql/src/application/use-cases/articles/FetchArticlesUseCase.test.ts
  graphql/src/application/use-cases/articles/FetchArticlesUseCase.ts
  graphql/src/application/use-cases/articles/index.ts
  graphql/src/application/use-cases/bookmarks/CreateBookmarkUseCase.ts
  graphql/src/application/use-cases/bookmarks/DeleteBookmarkUseCase.ts
  graphql/src/application/use-cases/bookmarks/FetchBookmarkByIdUseCase.ts
  graphql/src/application/use-cases/bookmarks/FetchBookmarksUseCase.ts
  graphql/src/application/use-cases/bookmarks/UpdateBookmarkUseCase.ts
  graphql/src/application/use-cases/bookmarks/index.ts
  graphql/src/domain/articles/entities/Article.ts
  graphql/src/domain/articles/entities/index.ts
  graphql/src/domain/articles/repositories/ArticleRepository.ts
  graphql/src/domain/articles/repositories/index.ts
  graphql/src/domain/bookmarks/entities/Bookmark.ts
  graphql/src/domain/bookmarks/entities/index.ts
  graphql/src/domain/bookmarks/repositories/BookmarkRepository.ts
  graphql/src/domain/bookmarks/repositories/index.ts
  graphql/src/infrastructure/repositories/ArticleRepositoryImpl.ts
  graphql/src/infrastructure/repositories/BookmarkRepositoryImpl.ts
  graphql/src/infrastructure/repositories/index.ts
  graphql/src/interface/controllers/ArticleController.ts
  graphql/src/interface/controllers/BookmarkController.test.ts
  graphql/src/interface/controllers/BookmarkController.ts
  graphql/src/interface/controllers/index.ts
  graphql/src/server.ts
Due: graphql-fmt

docs: Clean Architectureのディレクトリ構造と依存関係をREADMEに追加
  graphql/README.md
Due: none

refactor: レビュー指摘事項の修正
  graphql/src/application/use-cases/articles/FetchArticlesUseCase.test.ts
  graphql/src/application/use-cases/articles/FetchArticlesUseCase.ts
  graphql/src/application/use-cases/articles/index.ts
  graphql/src/application/use-cases/bookmarks/CreateBookmarkUseCase.ts
  graphql/src/application/use-cases/bookmarks/DeleteBookmarkUseCase.ts
  graphql/src/application/use-cases/bookmarks/FetchBookmarkByIdUseCase.ts
  graphql/src/application/use-cases/bookmarks/FetchBookmarksUseCase.ts
  graphql/src/application/use-cases/bookmarks/UpdateBookmarkUseCase.ts
  graphql/src/application/use-cases/bookmarks/index.ts
  graphql/src/domain/articles/Article.ts
  graphql/src/domain/articles/ArticleRepository.ts
  graphql/src/domain/articles/entities/index.ts
  graphql/src/domain/articles/repositories/ArticleRepository.ts
  graphql/src/domain/articles/repositories/index.ts
  graphql/src/domain/bookmarks/Bookmark.ts
  graphql/src/domain/bookmarks/BookmarkRepository.ts
  graphql/src/domain/bookmarks/entities/index.ts
  graphql/src/domain/bookmarks/repositories/index.ts
  graphql/src/infrastructure/repositories/ArticleRepositoryImpl.ts
  graphql/src/infrastructure/repositories/BookmarkRepositoryImpl.test.ts
  graphql/src/infrastructure/repositories/BookmarkRepositoryImpl.ts
  graphql/src/infrastructure/repositories/index.ts
  graphql/src/interface/controllers/ArticleController.ts
  graphql/src/interface/controllers/BookmarkController.ts
  graphql/src/interface/controllers/index.ts
  graphql/src/server.ts
Due: graphql-fmt

refactor: repositoryファイルのディレクトリ構造を修正
  graphql/src/application/use-cases/articles/FetchArticlesUseCase.test.ts
  graphql/src/application/use-cases/articles/FetchArticlesUseCase.ts
  graphql/src/application/use-cases/bookmarks/CreateBookmarkUseCase.ts
  graphql/src/application/use-cases/bookmarks/DeleteBookmarkUseCase.ts
  graphql/src/application/use-cases/bookmarks/FetchBookmarkByIdUseCase.ts
  graphql/src/application/use-cases/bookmarks/FetchBookmarksUseCase.ts
  graphql/src/application/use-cases/bookmarks/UpdateBookmarkUseCase.ts
  graphql/src/domain/articles/ArticleRepository.ts
  graphql/src/domain/bookmarks/BookmarkRepository.ts
  graphql/src/infrastructure/external/ArticleRepositoryImpl.ts
  graphql/src/infrastructure/persistence/BookmarkRepositoryImpl.test.ts
  graphql/src/infrastructure/persistence/BookmarkRepositoryImpl.ts
  graphql/src/server.ts
Due: graphql-fmt

refactor: ディレクトリ構造をさらに簡略化
  graphql/src/application/articles/FetchArticlesUseCase.mocks.ts
  graphql/src/application/articles/FetchArticlesUseCase.test.ts
  graphql/src/application/articles/FetchArticlesUseCase.ts
  graphql/src/application/bookmarks/CreateBookmarkUseCase.ts
  graphql/src/application/bookmarks/DeleteBookmarkUseCase.ts
  graphql/src/application/bookmarks/FetchBookmarkByIdUseCase.ts
  graphql/src/application/bookmarks/FetchBookmarksUseCase.ts
  graphql/src/application/bookmarks/UpdateBookmarkUseCase.ts
  graphql/src/application/use-cases/articles/FetchArticlesUseCase.ts
  graphql/src/application/use-cases/bookmarks/FetchBookmarkByIdUseCase.ts
  graphql/src/application/use-cases/bookmarks/FetchBookmarksUseCase.ts
  graphql/src/infrastructure/domain/Article.ts
  graphql/src/infrastructure/domain/Bookmark.ts
  graphql/src/server.test.ts
  graphql/src/server.ts
Due: graphql-fmt
